nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        max-width: 100%;
        padding: 14px 20px;
        color: #8b8499;
        text-decoration: none;
        display: block;

        &:hover, &:active, &.active {
          color: #438ade;
        }
      }
    }
  }
}